<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>Book Name</th>
        <th>Price</th>
        <th>Star</th>
    </tr>
    </thead>    
    <tbody>
        
        {% for result in data %}        
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
                <td>5 star</td>
            </tr>
        {% endfor %}
        
            
        

       
    </tbody>
</table></body>
</html>