<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 main {
  display: flex;
  justify-content: center;
}

table {
  max-width: 100%;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
} 

</style>
<main>
<table>
  <thead>
    <tr>
        <th>Book Name</th>
        <th>Price</th>
        <th>Star</th>
    </tr>
    </thead>    
    <tbody>
        
        {% for result in data %}        
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
                <td>5 star</td>
            </tr>
        {% endfor %}
        
            
        

       
    </tbody>
</table></main></body>
</html>